<h1 class="section-title">Статьи</h1>

<div class="filters">
    <%= link_to "Все", articles_path,
      class: "filter-btn #{'is-active' if @selected_category.blank?}" %>

    <% @categories.each do |cat| %>
    <%= link_to cat, articles_path(category: cat),
        class: "filter-btn #{'is-active' if @selected_category == cat}" %>
    <% end %>
</div>

<div class="card-grid card-grid--4">
    <% @articles.each do |article| %>
    <%= render "card", article: article %>
    <% end %>
</div>