# config/database.yml

default: &default
  adapter: sqlite3
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: db/development.sqlite3

test:
  <<: *default
  database: db/test.sqlite3

production:
  adapter: postgresql
  encoding: unicode
  pool: 5
  database: myapp_production
  username: <%= ENV.fetch("MYAPP_DB_USER", "myapp") %>
  password: <%= ENV["MYAPP_DATABASE_PASSWORD"] %>
  host: <%= ENV.fetch("MYAPP_DB_HOST", "localhost") %>
