<h1 class="post-card__title"><%= @post.title %></h1>

<div class="post-card__body">
    <%= simple_format(@post.body.to_s) %>
</div>

<%= link_to "Назад в коммьюнити", community_index_path, class: "btn btn-link" %>