#logo {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  pointer-events: none;

  img {
    width: 110px;
  }
}

.about_main_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  height: 100vh;
}

.slider_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.content_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.content-before,
.content-after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding-top: 18px;

  h1 {
    margin-bottom: 1.8rem;
  }
}

.content-after {
  z-index: 2;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.1s linear;
}

.slider-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
  background: var(--cyan);
  left: 0;
  transform: translateX(0);
  z-index: 20;
  pointer-events: none;
  transition: 0.1s linear;

  div {
    width: 19px;
    height: 18px;
    background-color: var(--cyan);
    position: absolute;
    left: -8px;
  }
}

.about_columns {
  flex: 1;
  padding: 8rem 2rem 2rem 2rem;
  border-left: solid 1.5px #fff6ff;
}

#no_border {
  border: 0;
}

.second_column {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}

.ruler_grid {
  display: grid;
  position: fixed;
  width: 100%;
  padding-left: 2.3rem;
  box-sizing: border-box;
  grid-template-columns: repeat(108, 1fr);
  height: 18px;
  z-index: 1;
  pointer-events: none;
  background-color: var(--black);
  border-bottom: solid 0.5px var(--white);
}

.ruler-line {
  position: relative;
}

.ruler-line::after {
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1.5px;
  background: #fff6ff;
  transform: translateX(-50%);
}

.ruler-line:last-child::before,
.ruler-line:last-child::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1.5px;
  background: #fff6ff;
  top: 0;
}

.ruler-line:last-child::before {
  left: 0;
  transform: translateX(-50%);
}

.ruler-line:last-child::after {
  left: auto;
  right: 0;
  transform: translateX(50%);
}

.ruler-line:nth-child(5n)::after {
  width: 3px;
  background: var(--cyan);
}

.team_list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;

  a {
    text-decoration: none;
    color: #fff6ff;
    font-size: 1rem;
    font-family: var(--golos);
    text-transform: none;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}

.team {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  img {
    width: 18px;
  }

  .arrow_link {
    width: 12px;
  }
}

.splash {
  #bg-video {
    top: -10rem;
    transform: scaleY(-1);
  }

  height: 100vh;
}

.coming_soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  margin: auto;
  text-align: center;

  p {
    width: 20vw;
    margin-bottom: 1rem;
  }

  h1 {
    width: 40vw;
  }

  form {
    display: flex;
    gap: 0.5rem;
  }

  input[type='email'] {
    padding: 4px;
    font-family: var(--golos);
    letter-spacing: 0.04em;
    font-size: 1rem;
    margin: 0;
    line-height: 140%;
    background-color: var(--black);
    border: solid 2px var(--green);
  }

  input[type='submit'] {
    padding: 3px 4px;
    background: var(--green);
    border: none;
    cursor: pointer;
    font-family: var(--arialbold);
    text-transform: uppercase;
    letter-spacing: -0.02em;
    margin: 0;
    line-height: 100%;
    font-size: 1.2rem;

    &:hover {
      background-color: var(--green_secondary);
    }
  }
}
