.card_cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#article1 {
  background-image: image-url('articles_covers/article1.jpg');
}

#article2 {
  background-image: image-url('articles_covers/article2.jpg');
}

#article3 {
  background-image: image-url('articles_covers/article3.jpg');
}

#article4 {
  background-image: image-url('articles_covers/article4.jpg');
}

#article5 {
  background-image: image-url('articles_covers/article5.jpg');
}

#article6 {
  background-image: image-url('articles_covers/article6.jpg');
}

#article7 {
  background-image: image-url('articles_covers/article7.jpg');
}
